<template>
  <v-app id="inspire">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <v-navigation-drawer
      v-model='connected'
      app
    >
      <v-list dense>
        <v-list-item link @click="$router.push('/statistiques')">
          <v-list-item-action>
            <v-icon>mdi-chart-areaspline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Statistiques</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="$router.push('/profile')">
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Mon Profil</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="$router.push('/file-explorer')">
          <v-list-item-action>
            <v-icon>mdi-folder-multiple-image</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Mes médias</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="$router.push('/statistiques')">
          <v-list-item-action>
            <v-icon>mdi-chat</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Discussion en direct</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="$router.push('/statistiques')">
          <v-list-item-action>
            <v-icon>mdi-email</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contactez nous</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color='orange' clipped-left style="color: #303030;">
      <v-app-bar-nav-icon @click.stop="connected = !connected" />
      <v-toolbar-title class="headline text-uppercase">
        <nuxt-link style="color: #303030; text-decoration: none;" to="/">NeedForCom</nuxt-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="flex-grow-1"></div>
    </v-app-bar>

    <v-content id="centered">
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  data: () => ({
    connected: true
  }),
  mounted () {
  },
  methods : {
    async disconnect () {
      try {
        const axios = this.getAxios(this.$session.get('userToken'))
        this.$session.set('userToken', false);
        this.$router.push('/')
      } catch (error) {
        console.log(error)
      }
    }
  }
};
</script>

<style>
#centered > div:first-child
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.to-login > button {
  text-decoration: underline;
  text-transform: initial;
}


@media screen and (max-height: 700px), (max-width: 500px){
  #centered > div:first-child
  {
    position: relative;
    align-items: flex-start;
  }
}
</style>